---
import Layout from '../layouts/Layout.astro';
---

<Layout title="CINEMAX">
	<video 
		class="background-video fixed top-0 left-0 w-full h-full object-cover z-[-1]"
		autoplay loop muted playsinline>
		<source src="/found.mp4" type="video/mp4" />
	</video>
	<div class="found-content grid place-items-center py-32 relative z-10">
		<img 
			transition:name="image-logo"
			class="w-32 md:w-64 pb-5"
			src="/cinemax-logo.png"
			alt="cinemax"
		/>
		<span class="text-white text-xl md:text-5xl font-semibold text-center">
			SISTEMA DE RECOMENDACIÓN
			<p class="block md:py-2">DE PELÍCULAS</p>
			<p
				transition:name="text-logo" 
				class="text-4xl md:text-7xl font-bold text-yellow-500"
			>
				CINEMAX
			</p>
		</span>
		<a
			class="bg-purple-500 hover:bg-purple-700 text-white text-md md:text-xl font-bold mt-4 py-2 px-6 rounded" 
			href="/result"
		>
			IR AL SISTEMA
		</a>
	</div>
</Layout>

<style>
	.background-video {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
		z-index: -1;
	}
	.found-content {
		position: relative;
		z-index: 10;
	}
</style>
